* {
    background-color: #7fccff;
}

header {
    padding: 10px;
    background-color: #81b8a6;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

section {
    background-color: #faebd7;
    display: inline-block;
    height: 800px;
    width: 100%;
}